# --- Core Engine (Mandatory for Track A) ---
pathway[xpack-llm]

# --- AI Models ---
langchain-google-genai  # For Gemini
langchain-community

# --- Utilities ---
python-dotenv==1.0.1
tiktoken
pandas  # For reading CSV files
requests # For talking to the server